footer {
  background-color: #f8f9fa;
  padding: 20px;
  color: #6c757d;
  text-align: center;
  font-size: 18px;
  font-weight: 400;
}

.footer-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  margin-bottom: 20px;
}

.footer-left,
.footer-right {
  flex: 1;
  margin: 20px;
}

.footer-left {
  margin-right: 40px;
}

.footer-left ul,
.footer-right ul {
  margin-left: 40px;
  list-style: none;
  padding: 0;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  gap: 15px;
}

.footer-left li,
.footer-right li {
  margin: 5px 0;
}

.footer-left a,
.footer-right a,
.back-to-top a {
  text-decoration: none;
  color: #007bff;
  font-size: 18px;
  font-weight: 400;
}

.footer-left a:hover,
.footer-right a:hover,
.back-to-top a:hover {
  text-decoration: underline;
}

.footer-left p,
.footer-right p {
  font-weight: 400;
  text-align: left;
  width: 100%;
  padding-left: 40px;
}

.social-media-links {
  margin-top: 10px;
}

.social-media-links i {
  margin-right: 8px;
}

.social-media-links a {
  font-weight: 400;
  display: flex;
  align-items: center;
}

.back-to-top {
  margin-top: 8px;
  text-align: right;
}

.text-footer {
  font-weight: 400;
}

@media (max-width: 767px) {
  footer {
    margin-left: -45px;
    background-color: #f8f9fa;
    padding: 0px;
    color: #6c757d;
    text-align: center;
    font-size: 15px;
    font-weight: 400;
  }
  .footer-left ul,
  .footer-right ul {
    margin-left: 35px;
    list-style: none;
    padding: 0;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    gap: 9px !important;
  }
  .footer-left a,
  .footer-right a,
  .back-to-top a {
    margin-left: 0px !important;
    text-decoration: none;
    color: #007bff;
    font-size: 14px !important;
    font-weight: 400;
  }
}
