body {
    background-color: #FCEBD5;
    text-align: center;
}

.navbar {
    font-family: "Reenie Beanie", cursive;
    background-color: #FCEBD5;
    padding: 1rem;
    justify-content: center;
    position: absolute;
}

.navbar .navbar-brand {
    color: #A16A5E;
    font-size: 2rem;
    position:absolute;
    top: 2px;
    transform: translateX(100%);
}

.auth-container {
    margin-top: 30px;
}

.logo {
    text-align: center;
    margin-bottom: 20px;
}

.logo-img {
    max-width: 200px;
    margin-bottom: 20px;
}

.auth-form {
    margin-top: 20px;
}

h2 {
    font-size: 2rem;
    color: #A16A5E;
}

.input-field {
    width: 90%;
    padding: 10px;
    border: none;
    border-bottom: 2px solid #A16A5E;
    background-color: transparent;
    margin-bottom: 15px;
    font-size: 1.1rem;
    color: #A16A5E;
    outline: none;
}

.input-field:focus {
    border-bottom: 2px solid #A16A5E;
}

.signup-btn, .signin-btn {
    background-color: #A16A5E;
    color: white;
    padding: 10px 20px;
    font-size: 1.1rem;
    border: none;
    cursor: pointer;
    width: 90%;
    margin-top: 15px;
}

.signup-btn:hover, .signin-btn:hover {
    background-color: #A66656;
}

.footer p {
    font-size: 0.9rem;
    margin-top: 20px;
}

.footer a {
    color: #A16A5E;
    text-decoration: none;
}

.social-media {
    margin-top: 20px;
}

.social-icon img {
    width: 25px;
    margin: 0 10px;
}

.social-media a {
    text-decoration: none;
}

.text-center p {
    margin-top: 15px;
    font-size: 0.9rem;
}

.text-center a {
    color: #A16A5E;
    text-decoration: none;
}

.text-center a:hover {
    text-decoration: underline;
}

.terms-text {
    color: #9e6e63;
    font-size: 0.9rem;
    cursor: pointer;
}

.terms-text:hover {
    text-decoration: underline;
}

.toggle-text {
    color: #9e6e63;
    font-size: 1rem;
    cursor: pointer;
}

.toggle-text:hover {
    text-decoration: underline;
    color: #A16A5E;
}

@media (max-width: 768px) {
    .navbar .navbar-brand {
        font-size: 1.8rem;
    }

    h2 {
        font-size: 1.8rem;
    }

    .input-field {
        font-size: 1rem;
        width: 95%;
    }

    .signup-btn, .signin-btn {
        font-size: 1rem;
        width: 95%;
    }

    .footer p {
        font-size: 0.8rem;
    }

    .footer a {
        font-size: 0.9rem;
    }
    
    .social-icon img {
        width: 20px;
    }

    .text-center p {
        font-size: 0.8rem;
    }

    .toggle-text {
        font-size: 0.9rem;
    }
}

@media (max-width: 480px) {
    .navbar .navbar-brand {
        font-size: 1.5rem;
    }

    h2 {
        font-size: 1.5rem;
    }

    .input-field {
        font-size: 0.9rem;
    }

    .signup-btn, .signin-btn {
        font-size: 0.9rem;
    }

    .social-icon img {
        width: 18px;
    }

    .terms-text, .toggle-text {
        font-size: 0.8rem;
    }
}
